@font-face {
    font-family: 'InputMono';
    font-style: normal;
    font-weight: 400;
    src: url('static/InputMono.woff2') format('woff2');
    unicode-range: U+000-5FF;
}

* {
    font-family: 'InputMono', monospace;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    background-color: #18181C;
}

body {
    background-color: #18181C;
    color: #d3e3f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: medium;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.5rem;
}

/* #clock {
    font-size: 3.5rem;
} */

.main-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

img {
    height: 175px;
    width: 175px;
    border-radius: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#name, .prompt-title {
    background-color: #a8e1fb;
    color: #120E0E;
}

.prompt-title {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 10px;
}

h1, .time {
    align-self: center;
}

h3 {
    color: #a8e1fb;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

h4 {
    color: #d3e3f1;
}

.links {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

@media screen and (max-width: 600px) {
    body {
        font-size: small;
    }
}

input {
    color: #a8e1fb;
}

#search-bar {
    width: 100%;
}

input#setter {
    position: relative;
    outline: none;
    background-color: transparent;
    border: 1px solid red;
    border: none;
    padding: 2;
    width: 100%;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    /* caret-color: #a6e3a1;
    caret-shape: underscore; */
    user-select: none;
}

.terminalInput {
    display: flex;
    align-items: center;
    color: transparent;
    background-color: transparent;
    cursor: text;
    user-select: none;
    border: none;
    width: 100%;
    flex: 1;
    margin-left: 6px;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    overflow: hidden;
    /* height: 30px; */
}

#getter {
    height: 0;
    width: 0;
}

&:focus {
    outline: none;
}

#terminal-content {
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#terminal-content::-webkit-scrollbar {
    display: none;
}

#terminal-content p {
    margin: 0px;
}

.prompt {
    display: flex;
}

.prompt-cursor {
    /*color: var(--prompt);*/
    margin-left: 0.3em;
}

.form-group {
    display: flex;
    border: 1px solid #a8e1fb;
    border-radius: 2rem;
    margin: 0.5rem;
    /* font-size: 1rem; */
}

.atSymb {
    /*color: var(--atSymb);*/
    margin-left: 3px;
    margin-right: 3px;
}

#commands {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #a8e1fb;
    color: #120E0E;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}